[submodule "backend"]
	path = backend
	url = https://github.com/PFE014-H22/backend.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/PFE014-H22/frontend.git
	branch = main
